<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>
    <%- include ("navbar.ejs", {one: false, two: false, three: false, foursix: true}) %>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <form action="/foursix_table/getquery" method="post">
                    <label for="query1" class="form-label">Query: Complete album details of the top 10 albums reviewed in X of X (ex. February of 2010) with a score less than the previous yearly (release year) average</label>
                    <input type="text" class="form-control" placeholder="Month 1 - 12 (January - December)" name="query_1">
                    <input type="text" class="form-control" placeholder="Year ex. 1998, 2015" name="query_2">
                    <br>
                    <input class="btn btn-primary mr-3" type="submit" value="Search">
                </form>
            </div>
        </div>
    </div>
    <% if (results) { %>
    <div class="table-wrapper">
        <table class="table table-hovered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Label</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Year</th>
                    <th scope="col">Score</th>
                    <th scope="col">Published Date</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach((record, index) => { %>
                    <tr>
                        <td><%= record.title %></td>
                        <td><%= record.artist %></td>
                        <td><%= record.label %></td>
                        <td><%= record.genre %></td>
                        <td><%= record.year %></td>
                        <td><%= record.score %></td>
                        <td><%= record.pub_date %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <% } %>
    
    
</body>
</html>