<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>
    <%- include ("navbar.ejs", {one: true, two: false, three: false, foursix: false}) %>
    <div class="container">
        <div class="row">
        <div class="col-sm">
            <form action="/one_table/getquery1" method="post">
                <label for="query1" class="form-label">Query 1: Number of albums with a score of at least X (ex. 8) in each published year</label>
                <input type="text" class="form-control" placeholder="Score 0 - 10" name="query1">
                <br>
                <input class="btn btn-primary mr-3" type="submit" value="Search">
            </form>
        </div>
        <div class="col-sm">
            <form action="/one_table/getquery2" method="post">
                <label for="query2" class="form-label">Query 2: Number of authors grouped by author type that publish works from X (ex. 0 - Monday) to X (ex. 2 - Wednesday)</label>
                <input type="text" class="form-control" placeholder="0 - 6 (Monday - Sunday)" name="query2_1">
                <input type="text" class="form-control" placeholder="0 - 6 (Monday - Sunday)" name="query2_2">
                <br>
                <input class="btn btn-primary mr-3" type="submit" value="Search">
            </form>
        </div>
        </div>
      </div>
    <% if (result1) { %>
    <div class="table-wrapper">
        <table class="table table-hovered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Publication Year</th>
                    <th scope="col">Number of Albums</th>
                </tr>
            </thead>
            <tbody>
                <% result1.forEach((record, index) => { %>
                    <tr>
                        <th scope="row"><%= record.pub_year %></th>
                        <td><%= record.albums %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <% } %>
    <% if (result2) { %>
        <div class="table-wrapper">
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Author Type</th>
                        <th scope="col">Number of Authors</th>
                    </tr>
                </thead>
                <tbody>
                    <% result2.forEach((record, index) => { %>
                        <tr>
                            <th scope="row"><%= record.author_type %></th>
                            <td><%= record.authors %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <% } %>
</body>
</html>