<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>
    <%- include ("navbar.ejs", {one: false, two: true, three: false, foursix: false}) %>
    <div class="container">
        <div class="row">
        <div class="col-sm">
            <form action="/two_table/getquery1" method="post">
                <label for="query1" class="form-label">Query 1: From albums made in each year from X - X (ex. 2007 - 2010), find the most prominent reviewers (3) out of all reviewers in the website</label>
                <input type="text" class="form-control" placeholder="Year ex. 1998, 2015" name="query1_1">
                <input type="text" class="form-control" placeholder="Year ex. 1998, 2015" name="query1_2">
                <br>
                <input class="btn btn-primary mr-3" type="submit" value="Search">
            </form>
        </div>
        <div class="col-sm">
            <form action="/two_table/getquery2" method="post">
                <label for="query2" class="form-label">Query 2: Least reviewed genre in a given year (ex. 2007)</label>
                <input type="text" class="form-control" placeholder="Year ex. 1998, 2015" name="query2">
                <br>
                <input class="btn btn-primary mr-3" type="submit" value="Search">
            </form>
        </div>
        </div>
      </div>
    <% if (result1) { %>
    <div class="table-wrapper">
        <table class="table table-hovered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Author</th>
                    <th scope="col">Number of Reviews</th>
                </tr>
            </thead>
            <tbody>
                <% result1.forEach((record, index) => { %>
                    <tr>
                        <th scope="col"><%= record.author %></th>
                        <td><%= record.reviewCount %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <% } %>
    <% if (result2) { %>
        <div class="table-wrapper">
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Genre</th>
                        <th scope="col">Number of Reviews</th>
                    </tr>
                </thead>
                <tbody>
                    <% result2.forEach((record, index) => { %>
                        <tr>
                            <td><%= record.genre %></td>
                            <td><%= record.reviewCount %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    <% } %>
</body>
</html>